*{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
}


body{
    background-image:url(./images/image1.jpg);
    background-position: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5%;
    margin-top: 1%;
    background-color: #E3F4FEd8;
    border-radius: 2em;
    max-width: fit-content;
}

.search{
    display: flex;
    align-items: center;
}

.inputValue{
    margin-left: 2%;
    margin-right: 10%;
    outline: none;
    border-radius: 1.1em;
    border: none;
}

.inputValue:hover::placeholder{
    color:transparent;
}

.tempAndIcon{
    display: flex;
    align-items: center;
}

.info-container{
    color: white;
    background-color: #000000d0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    margin:5%;
    border-radius: 2em;
    width: 600px;
    height: 350px;
}

#temperatureLi{
    font-size: xx-large;
}

#cityLi{
    font-size: x-large;
}

.icon-container{
    float: right;
}

a{
    color:inherit;
    text-decoration: none;
}

.search-btn{
    font-size: xx-large;
}

.search-btn:hover{
    color:rgba(63, 63, 63, 0.459);
}

